.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: snow;
}
header {
    background-image: url(azul-claro-2iuzyh711jo9bmgo.jpg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
}
.logo img {
    width: 60px;
}
.nombre {
    font-size: 28px;
    margin-left: 10px;
    color: black;
    font-family: sans-serif
}
nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: blue;
    border: 2px solid transparent;
    padding: 5px;
    transition: 0.3s ease;
}
nav a:hover {
    border: 2px solid rgb(6, 160, 255);
}
.espserv {
    font-size: 20px;
    text-align: left;
    padding: 30px 20px;
    line-height: 1.2;
    font-weight: normal;
    background-image: url(textured-white-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.espserv img {
    border-radius: 5px;
    max-width: 700%;
    height: auto;
    width: 90%;
}
@media (min-width: 1000px) {
    .espserv img {
        width: 20%;
    }
}
.contactanos {
    font-size: 40px;
}
.contactanos img {
    max-width: 80%;
    width: 80%;
    height: auto;
}
@media (min-width: 700px) {
    .contactanos img {
        width: 20%;
    }
}